{% extends 'base.html.twig' %}

{% block body %}
    <h1>Les news</h1>

    <table>
        <tbody>
        {% for news in news %}
            <tr>
                <td><a href="{{ path('news_show', { 'nid': news.nid }) }}">{#{ news.date }#}</a></td>
                <td>{{ news.titre }}</td>
                <td>{{ news.contenu }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('news_show', { 'nid': news.nid }) }}">voir</a>
                        </li>
                        <li>
                            <a href="{{ path('news_edit', { 'nid': news.nid }) }}">modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
    <ul>
        <li>
            <a href="{{ path('news_new') }}">Créer une news</a>
        </li>
    </ul>
    {% endif %}
{% endblock %}
