{% extends 'base.html.twig' %}

{% block body %}
    <h1>News list</h1>

    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Nid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for news in news %}
            <tr>
                <td><a href="{{ path('news_show', { 'nid': news.nid }) }}">{#{ news.date }#}</a></td>
                <td>{{ news.titre }}</td>
                <td>{{ news.contenu }}</td>
                <td>{{ news.nid }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('news_show', { 'nid': news.nid }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('news_edit', { 'nid': news.nid }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('news_new') }}">Create a new news</a>
        </li>
    </ul>
{% endblock %}
