{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des sites</h1>

    <table>
        <thead>
            <tr>
                <th></th>
                <th>Nom</th>
                <th>Type</th>
                <th>Ville</th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for site in sites %}
            <tr>
                <td>{% if site.svalide %}<span style="color:green" class="glyphicon glyphicon-ok"></span>{% else %}<span style="color:orange" class="glyphicon glyphicon-ban-circle"></span>{% endif %} &nbsp;&nbsp;</td>
                <td> <a href="{{ path('site_show', { 'siteid': site.siteid }) }}">{{ site.sitenom }}</a></td>
                <td>{{ site.type }}</td>               
                <td>{{ site.ville }}</td>
                
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('site_show', { 'siteid': site.siteid }) }}">voir</a>
                        </li>
                        <li>
                            <a href="{{ path('site_edit', { 'siteid': site.siteid }) }}">modifier</a>
                        </li>
                    </ul>
                </td>
                
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('site_new') }}">Créer un nouveau site</a>
        </li>
    </ul>
{% endblock %}
