{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ site.sitenom }}</h1>
    
    <br>Pratiques :
                {{ site.type }}
            
            
                <br>Longitude : 
                {{ site.longitude }}
            
            
                <br>Latitude : 
                {{ site.latitude }}
            
            
                <br>Description <br>
                {{ site.description | raw }}
            
            
                <br>Ville :
                {{ site.ville }}
            
            
                <br>Adresse : 
                {{ site.adresse }}
            
            
                
                {% if site.svalide %}Yes{% else %}No{% endif %} site validé
            

    <h3>Prochaines sorties</h3>
        
        {% if sorties is defined %}
            <ul class="list-group-item" style="max-width:400px;">
            {% for sortie in sorties %}

                <li class="list-group-item">{{sortie.date.date |date("m/d/Y") }} <a href="{{ path('sortie_show', {'idsortie': sortie.idsortie }) }}"><span class="glyphicon glyphicon-upload"></span> avec ...</a><span style="font-size:0.8em;"> </span>';
                        {{sortie.annonce |truncate(80, true, '...') }}
                </li>

            {% endfor %}
            </ul>
        {% else %}
            Aucune sortie programmée.
        {% endif %}
        

{% if is_granted('ROLE_ADMIN') %}
    <ul>
        
        <li>
            <a href="{{ path('site_edit', { 'siteid': site.siteid }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endif %}

{% endblock %}
