{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ site.sitenom }}</h1>
    
    <br>Pratiques :
                {{ site.type }}
            
            
                <br>Longitude : 
                {{ site.longitude }}
            
            
                <br>Latitude : 
                {{ site.latitude }}
            
            
                <br>Description <br>
                {{ site.description | raw }}
            
            
                <br>Ville :
                {{ site.ville }}
            
            
                <br>Adresse : 
                {{ site.adresse }}
            
            
                
                {% if site.svalide %}Yes{% else %}No{% endif %} site validé
            

    <ul>
        
        <li>
            <a href="{{ path('site_edit', { 'siteid': site.siteid }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
